 :root {
	 /*--windows-ten-os-color: #4c4a48;*/
	 --windows-ten-os-color: #000000;
     /*--accent-color-win: #57c945;*/
	 --accent-color-win: #e67e22;
	 --accent-color-mac: #ac36ab;

	 /* --toolbar-bgcolor: red !important; */
	 --lwt-selected-tab-background-color: var(--toolbar-bgcolor) !important;
 }
