#tabbrowser-tabs,
#TabsToolbar,
#wrapper-new-tab-button,
#wrapper-alltabs-button {
	transition: background-color 0.2s linear !important;
}

#tabbrowser-tabs:not(-moz-window-inactive),
#TabsToolbar:not(-moz-window-inactive),
#wrapper-new-tab-button:not(-moz-window-inactive),
#wrapper-alltabs-button:not(-moz-window-inactive) {
	background-color: var(--windows-eleven-os-color) !important;
}

#tabbrowser-tabs:-moz-window-inactive,
#TabsToolbar:-moz-window-inactive,
#wrapper-new-tab-button:-moz-window-inactive,
#wrapper-alltabs-button:-moz-window-inactive {
	background-color: var(--windows-eleven-os-color-inactive) !important;
}


#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon .tab-stack,
.tabbrowser-tab:is([selected], [multiselected]) .tab-stack {
	padding-top: 3px !important;
	background: rgba(255,166,41,1);
}

/*#tabbrowser-tabs:not([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-background[multiselected="true"]:-moz-lwtheme,
#tabbrowser-tabs:not([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-background[selected="true"]:-moz-lwtheme {
	border-top: 3px solid var(--accent-color-win) !important;
}*/
