@import url(./_theme.css); /**/

#TabsToolbar {
	text-shadow: none !important;
	/*padding-top: 12px !important;*/
}
#TabsToolbar hbox.titlebar-placeholder {
	width: 16px !important;
	border-right: none !important;
}

.tabbrowser-tab::after,
.tabbrowser-tab::before {
	border-left: none !important;
}

.tab-background {
	margin-block: 0 !important;
	border-radius: 0 !important;
}

.tab-background .tab-line {
	background-color: var(--accent-color-mac) !important;
}

.tab-close-button {
	margin-top: 4px !important;
}

/*
.tabbrowser-tab:not([selected]):not([pinned]) .tab-close-button {
	display: none !important;
} */

.tabbrowser-tab:not([selected]):not([pinned]):hover .tab-close-button {
	display: -moz-box !important;
}

[uidensity="compact"]:root toolbarbutton.bookmark-item:not(.subviewbutton) {
	padding: 6px 4px !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
    width: calc(1.75 * var(--toolbarbutton-inner-padding) + 16px) !important;
}

#customizableui-special-spring1,
#customizableui-special-spring2 {
	display: none !important;
}

/*#urlbar {
	width: 100% !important;
}*/

#ublock0_raymondhill_net-browser-action .toolbarbutton-icon {
	width: 12px !important;
	height: 12px !important;
}

.tab-icon-image {
	margin-top: 3px !important;
}

.tabbrowser-tab[label="New Tab"]:not([pinned="true"]) .tab-icon-image {
	display: none !important;
}

notification[label*="Did you mean to go to"] {
	display: none !important;
}

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox .tabbrowser-tab[first-visible-unpinned-tab] {
	margin-inline-start: 2px !important;
}

.tab-content {
	padding: 0 10px 0 10px !important;
}

#nav-bar {
	padding: 2px 0 0 0 !important;
}

toolbar .toolbarbutton-1 {
	margin: 3px 0 0 !important;
}

.titlebar-spacer[type="pre-tabs"],
.titlebar-spacer[type="post-tabs"] {
	width: 4px !important;
}

.tab-label {
	padding-top: 1px !important;
}

.tab-icon-overlay[soundplaying] {
	margin-top: 3px !important;
}

#tabbrowser-tabs {
	padding-top: 4px !important;
	padding-left: 4px !important;
	padding-right: 4px !important;
}

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) {
	margin-inline-start: 0px !important;
}

#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon,
#tabbrowser-tabs:not([noshadowfortests]) .tab-background:is([selected], [multiselected]) {
	box-shadow: none !important;
}

#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon .tab-stack,
.tabbrowser-tab:is([selected], [multiselected]) .tab-stack {
	box-shadow: 0 -1px 0 1px rgba(0,0,0,.4) !important;
}

#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon, .tab-background:is([selected], [multiselected]) {
	background-color: var(--toolbar-bgcolor) !important;
}

.tabbrowser-tab:not([selected], [multiselected]) .tab-background,
.tabbrowser-tab:not([selected], [multiselected]) .tab-content {
	padding-top: 3px !important;
}

#TabsToolbar #firefox-view-button:hover:not([open]) > .toolbarbutton-icon,
.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected], [multiselected]) {
	background-color: var(--toolbar-bgcolor) !important;
	border-top: 3px solid var(--toolbar-bgcolor) !important;
}

.tab-icon-stack:has(img[src="chrome://branding/content/icon32.png"]):has(.tab-throbber:not([busy]))::before  {
	display: block;
	position: relative;
	content: '\2B1b'; /* black square */
	width: 16px;
	height: 16px;
	font-size: 14px;
	margin-inline-end: 8px;
}

#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon .tab-stack,
.tabbrowser-tab:is([selected], [multiselected]) .tab-stack {
	padding-top: 3px !important;
	background: #ffa629 !important;
}