@import url(./_theme.css); /**/

/* All the opinionated stuff. If you don't like it... well, frankly, I don't give a damn. */
#TabsToolbar {
	text-shadow: none !important;
	/*padding-top: 12px !important;*/
}
#TabsToolbar hbox.titlebar-placeholder {
	width: 16px !important;
	border-right: none !important;
}

.tabbrowser-tab::after,
.tabbrowser-tab::before {
	border-left: none !important;
}

.tab-background .tab-line {
	background-color: var(--accent-color-mac) !important;
}

.tabbrowser-tab:not([selected]):not([pinned]) .tab-close-button {
	display: none !important;
}

.tabbrowser-tab:not([selected]):not([pinned]):hover .tab-close-button {
	display: -moz-box !important;
}

[uidensity="compact"]:root toolbarbutton.bookmark-item:not(.subviewbutton) {
	padding: 6px 4px !important;
}

#nav-bar {
	padding: 6px 4px !important;
}
toolbar .toolbarbutton-1 {
	margin: 3px 0 0 !important;
}
toolbar .toolbarbutton-1 > .toolbarbutton-icon {
    width: calc(1.75 * var(--toolbarbutton-inner-padding) + 16px) !important;
}

#customizableui-special-spring1,
#customizableui-special-spring2 {
	display: none !important;
}

/*#urlbar {
	width: 100% !important;
}*/

#ublock0_raymondhill_net-browser-action .toolbarbutton-icon {
	width: 12px !important;
	height: 12px !important;
}

.tab-icon-image {
	margin-top: 3px !important;
}

.tabbrowser-tab[label="New Tab"]:not([pinned="true"]) .tab-icon-image {
	display: none !important;
}

.tab-throbber,
.tab-throbber-fallback,
.tab-sharing-icon-overlay,
.tab-icon-sound,
.tab-close-button {
    margin-top: 4px !important;
}

.tab-label-container {
    margin-top: 4px !important;
}

notification[label*="Did you mean to go to"] {
	display: none !important;
}