/* Old - Winners don't do drugs */
/*:root {
	--newtab-a: #335584;
	--newtab-b: #738c9c;
}*/

/* Old - Chrono Trigger or something */
/*:root {
	--newtab-a: #0f0c29;
	--newtab-b: #7b4397;
}*/

/* Old - Fall-ish */
/*:root {
	--newtab-a: #301415;
	--newtab-b: #c02425;
}*/

/* New - Spring-ish */
:root {
	--newtab-a: #1E9600;
	--newtab-b: #76b852;
}