@-moz-document url(about:newtab), url(about:home) {
	body,
	#root,
	#onboarding-overlay {
		background-repeat: no-repeat !important;
		background-position: center !important;
	}
	body {
		display: table-cell !important;
		background-color: #738c9c !important;
		background-image: linear-gradient(135deg, var(--newtab-a) 0%,var(--newtab-b) 100%) !important;
		color: #ffffff !important;
		width: 100vw !important;
		height: 100vh !important;
		text-align: center !important;
		vertical-align: middle !important;
		font-size: 24pt !important;
		overflow: auto !important;
	}
	#root,
	#onboarding-overlay {
		display: block !important;
		position: relative;
		background-color: transparent !important;
	}
	#root > *,
	#onboarding-overlay > *,
	#snippets-container,
	#newtab-customize-button,
	#newtab-vertical-margin,
	#newtab-customize-overlay,
	#onboarding-overlay-button,
	#onboarding-notification-bar,
	#header-asrouter-container,
	#footer-asrouter-container,
	.newtab-customize-panel-container {
		display: none !important;
	}
}