/* Old - Winners don't do drugs */
/*:root {
	--newtab-a: #335584;
	--newtab-b: #738c9c;
}*/

/* Old - Chrono Trigger or something */
/*:root {
	--newtab-a: #0f0c29;
	--newtab-b: #7b4397;
}*/

/* Fall-ish */
/*:root {
	--newtab-a: #301714;
	--newtab-b: #ff7200;
}*/

/* Winter-ish */
/*:root {
	--newtab-a: #6190e8;
	--newtab-b: #a7bfe8;
}*/

/* Spring-ish lighter */
:root {
	--newtab-a: #5b920a;
	--newtab-b: #5c853c;
}

/* Spring-ish bright */
/*:root {
	--newtab-a: #1E9600;
	--newtab-b: #76b852;
}*/

/* Summer-ish */
/*:root {
	--newtab-a: #335584;
	--newtab-b: #738c9c;
}*/

/* Private Window */
:root {
	--privatebrowsing-a: #000000;
	--privatebrowsing-b: #3c2f54;
}